
#navbar{
    width:100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
}

nav a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

table,th,td{
    border: 1px solid;
    border-color: #d9d9d9;
    border-collapse: collapse;
    padding: 5px;
}

#book{
    width: 65%;
    height: 500px;
    background-color: white;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}



#register{
    width: 65%;
    height: 500px;
    background-color: white;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.input-field{
    width: 99%;
    height: 25px;
    margin-bottom: 10px;
    /* padding: 0px 0px 0px 0px; */
    border: 1px solid;
    border-color: #d9d9d9;
}

#btn{
    width: 100%;
    background-color: black;
    color:white;
    padding: 5px;
    cursor: pointer;
}